body {
  border: solid white 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  background-size: 100% 100%;
}

header {
  text-align: center;
  padding-top: 0px;

}

nav {
  text-align: center; 
  font-size: 50px;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}



#paddle1 {
  width: 30px;
  height: 150px;
  background-color: white;
  position: relative;
  animation: myfirst 1s linear 0s infinite alternate;
}


@keyframes myfirst {
  from   {left: 5px; top:0px;}
  to  {left: 5px; top:200px;}
}

#paddle2 {
  width: 30px;
  height: 150px;
  background-color: white;
  position: relative;
  animation: mysecond 1s linear 0s infinite alternate;
}

@keyframes mysecond {
  from   {left: 1448px; top:-150px;}
  to  {left: 1448px; top:50px;}
}

#ball {
  height: 35px;
  width: 35px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  animation: mythird 3s linear 0s infinite alternate;

}
@keyframes mythird {
  from   {left:35px; top:-210px;}
  to  {left:1410px; top:-20px}
}

div.absolute {
  position: absolute;
  top: 770px;
  right: 100px;

}
div.absolute1 {
  position: absolute;
  orientation: flip;
  top: 770px;
  left: 100px;

}